.Alert{
  padding: 20px;
  width: 44%;
  margin-top: 20px;
}
.Alert button{
  float: right;
  background: none;
  border: none;
  font-weight: bold;
}
.warning{
  background: pink;
  border-radius: 5px;
}
.danger{
  background: red;
  border-radius: 5px;
}
.success{
  background: green;
  border-radius: 5px;
}
.primary{
  background: yellow;
  border-radius: 5px;
}